@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

* {
	font-family: "Urbanist", sans-serif;
	color: white;
}

:root {
	--dark: #1b1b1c;
	--default: #7897c2;
	--accent: #e8be48;
}

.dark-text {
	color: var(--dark);
}

.default-text {
	color: var(--default);
}

.accent-text {
	color: var(--accent);
}

.dark-bg {
	background-color: var(--dark);
}

.default-bg {
	background-color: var(--default);
}

.accent-bg {
	background-color: var(--accent);
}

.dark-border {
	border: 2px solid var(--dark);
}

.default-border {
	border: 2px solid var(--default);
}

.accent-border {
	border: 2px solid var(--accent);
}

nav,
main {
	transition: background 0.3s, color 0.3s;
}
